html,body,div,h1,li,h2,h3,h4,h5,h6,p,ul,ol,dd,dt,input,form,table,td,th,tr{
	padding:0;
	margin:0;
}
body{
	color:#666;
	height:100%;
	width:100%;
    background: #fbfbfb;
	font-family: "SimHei","Microsoft YaHei","SimSun","WenQuanYi Micro Hei", sans-serif;
}
html{
	height:100%;
	width:100%;
	/*font-size: 31.25vw;*/
}
input{
    outline: none;
}
.left{
	float: left;
}
.right{
	float:right;
}
.clear:after{
	content:'';
	display: block;
	clear: both;
	visibility: hidden;
}
.bold{
	font-weight: bold;
}
li{
	list-style: none;
}
img{
	vertical-align: bottom;
}
a{
	text-decoration: none;
}
b{
	font-weight: normal;
}
i{
	font-style: normal;
}
.hide{
	display: none;
}

@font-face {
  font-family: 'iconfont';
  src: url('../../font/iconfont.eot');
  src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#container{
	position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    min-height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 60px;
}

section{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	flex-wrap: wrap;
	justify-content: center;
	width:100%;
    background: #fbfbfb;
}
section .content{
	flex: 1;
	width:100%;
	height:100%;
	overflow-y:scroll; 
}
.swiper-container{
	width:100%;
	height:100%;
}
.swiper-wrapper{
	height:100%;
	width:100%;
}
 .goods .swiper-slide{
	height:2rem;
}
.contact{
	position: relative;
	width:100%;
}
.goodsTitle{
	padding: 0.1rem 0.15rem;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 0.9rem;
    font-size: 0.12rem;
}
.goodsTitle div:nth-child(1){
	position: absolute;
	overflow: hidden;
    bottom: 0.1rem;
    left: 0.15rem;
    width: 0.6rem;
    height: 0.6rem;
    z-index: 1;
    border:3px solid #fff;
} 
.goodsTitle div:nth-child(1) img{
	width:100%;
}
.goodsTitle div .contact_seller{
	color:#FE6030!important;
}
/*公告*/
.goodsContent{
	width:100%;
}
.goodsContent .notice{
	color:#FE6030!important;
	background: #fff;
    margin: 0.2rem 0.15rem 0.2rem 0.2rem;
    padding: 0;
    overflow: hidden;
    position: relative;
    font-size:0.12rem;
    background: #fbfbfb;
}
.goodsContent .notice .iconfont{
	font-size:14px;
}
.str_move{
	white-space: nowrap;
	position: absolute;
	top:0;
	left:0;
	cursor:move;
    background: #fbfbfb;
}
/*优惠券*/
.coupon{
 	background: #fff;
    margin: 0.2rem 0.15rem 0.2rem;
    padding: 0;
    position: relative;
}
 .coupon .each_ticket{
 	position: relative; 
    overflow: hidden;
    height: 100%;
    border: 1px solid #FE6030;
    -webkit-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
 }
.coupon .tickit_left{
    background-image: url('../img/stamp-parttern.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 38%;
    background-size: contain;
    background: #FE6030;
}
.coupon .tickit_left div{
	background-color: #FE6030;
	padding: 0 0.1rem;
    padding-bottom: 0.1rem;
    margin-right: 0.1rem;
    text-align: center;
}
.coupon .tickit_left p{
	font-size:0.25rem;
	font-weight:800;
	color:#fff;
	line-height: 30px;
	margin-top: 0.1rem;
}
.coupon .tickit_left p b{
	font-size: 0.3rem;
	font-weight: bolder;
}
.coupon .tickit_left a{
	color:#fe6030;
	box-shadow: none;
	background: #fff;
	padding:0.08rem 0;
	border-radius: 3px;
	margin-bottom: 0.1rem;
	display: block;
	font-size:0.12rem;
}
.coupon .tickit_right{
	width: 62%;
    border-left: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.coupon .tickit_right .detaile{
	min-height: 0.66rem;
	padding:.06rem .22rem 0;
}
.coupon .tickit_right .detaile div:nth-child(1){
	font-size: 16px;
    margin-top: 0;
    margin-bottom: 0.1rem;
    color:#FE6030!important;
    font-weight: 600;
}
.coupon .tickit_right .detaile div{
	font-size:0.12rem;
	line-height: 20px;
}
/*本店推荐*/
.title{
	margin: 0 0.35rem;
	color:#656565;
	margin-left:0.2rem;
	font-size:0.12rem;
	line-height: 0.12rem;
	font-weight: normal;
}
.shop_recommend{
	margin: 0 0.1rem;
    background:#fbfbfb; 
}
.shop_recommend ul{
	/*display: flex;
	display: -webkit-flex;*/
	flex-wrap: wrap;
	font-size: 0.12rem;
	text-align: center;
	background: #fff;
	padding-top: 0.15rem;
    background: #fbfbfb;
}

.shop_recommend li{
    width: -moz-calc(50% - 20px);
    width: -webkit-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: calc(50% - 20px);
    float: left;
    margin:10px;
    background: #fff;
}
.shop_recommend li .eachgoods{
	padding:0.1rem;
	position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    border: 1px solid #e6e6e6;
}
.shop_recommend li .goodsImg{
	height:141px;
	overflow: hidden;
	text-align: center ;
}
.shop_recommend li .goodsImg img{
	margin-left: -15px;
    margin-top: 0px;
    width: 171px;
    height: 141px;
}
.shop_recommend li .goodsName{
	border-bottom:1px solid #e6e6e6;
	margin-top:0.2rem;
	padding-bottom:0.2rem;
	margin-bottom: 0.2rem;
	text-align: left;
}
.shop_recommend li .goodsName a{
    font-weight: 600;
    color:#333;  
    font-size:14px;
}
.shop_recommend li .goodsPrice{
	text-align: center;
}
.shop_recommend li .goodsPrice span{
	color:#FE6030 !important;
	font-size:0.12rem;
	margin-top:0.05rem;
}
.shop_recommend li .goodsPrice span i{
	font-size:0.24rem;
}
.shop_recommend li .goodsPrice a{
	color:#fff;
	background: #FE6030;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	padding:0.1rem 0.2rem;
	font-size:0.1rem;
	border-radius: 3px;
}
.searchG{
    background: #fff;
    margin: 20px 15px 20px;
    padding: 0;
    overflow: hidden;
    position: relative;
    height:40px;
    border: 1px solid #e6e6e6;
    line-height: 10px;
    text-align: center;
}
.lookBtn{
    font-size:16px;
    color:#6b6b6b;
    float: left;
    width: 100%;
    line-height: 40px;
}


/*shop*/
.bg{
	background-color:#000;
	filter:alpha(opacity=30);
	opacity: .3;
	position: fixed;
	z-index: 100;
	height:100%;
	width: 100%;
	left:0;
	top:0;
	display: none;
}
.storeInformation{
	position: fixed;
    z-index: 4;
    display: block;
    top: 133px;
    left: 5%;
    z-index:102;
    background: #fff;
    width:90%;
    background-color: #fff;
    margin:0 auto;
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
    font-size:14px;
    color: #ccc;
    display: none;
}
.storeInformation .shop{
	background: url('../img/shopportrait.png') no-repeat center ;
	background-size: cover; 
	webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    -ms-border-top-right-radius: 7px;
    -o-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    webkit-border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
    -ms-border-top-left-radius: 7px;
    -o-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
}
.storeInformation .shop div{
	 min-height: 120px;
    -webkit-background-size: cover;
    padding: 15px !important;

}
.storeInformation .shop div p:nth-child(1){
	position: relative;
    margin: auto;
    left: 0;
    right: 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    border:1px solid ##e6e6e6;
    margin-top:10px;
}
.storeInformation .shop div p:nth-child(1) img{
	width:100%;
	
}
.storeInformation .shop div p:nth-child(2){
    text-align: center;
    margin-top:10px;
    color:#fff;
}
.storeInformation .shopInforation{
	padding: 15px !important;
	text-align: center;
}
.storeInformation .shopInforation ul{
	border:1px solid #e6e6e6;
	border-radius: 5px;
	margin-top: 10px !important;
	font-size:14px;
}
.storeInformation .shopInforation li{
	padding:12px;
	border-bottom: 1px solid #e6e6e6;
	line-height: 25px;
}
.storeInformation .shopInforation li a{
    color: #FE6030;
}
.storeInformation .closeBtn{
	margin-bottom: 10px;
}
.storeInformation .closeBtn a{
	color:#fff;
	box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 5px 5px 5px 0;
    text-align: center;
    display: inline-block;
    padding: 13px 32px;
    border: none;
    background: #FE6030;
    color: #fff;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	border-radius: 3px;
	margin-top:15px!important;
	padding:5px 15px; 
}


/*==============优惠券*/
/*头部*/
.coupon_header{
	position: relative;
    height: 0.8rem;
    width: 100%;
    background-color: #df2739;
    border-bottom: 3px solid #c52433;
    line-height: 0.8rem;
    font-size: 0.12rem;
    font-weight:bold;
}
.coupon_header a:nth-child(1){
	position: absolute;
    left: 0.4rem;
    top: 0;
    font-size: 20px;
}
.coupon_header a{
	color:#fff;
}
.coupon_title{
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 1px #333;
    height: 0.8rem;
    text-align: center;
    font-weight: bold;
}
/*中间部分*/
.coupon_content{
	height:6.4rem;
    background: #fff;
    width: 90%;
    margin: 10% 5% 0 5%;
    -webkit-box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
    box-shadow: 0px 0px 4px #888;
    position: relative;
    font-size: 0.16rem;
}
.coupon_content .ok{
	 width: 100%;
    line-height: 1rem;
    background: #66b107;
    -webkit-box-shadow: 0px 1px 5px #999;
    -moz-box-shadow: 0px 1px 5px #999;
    box-shadow: 0px 1px 5px #999;
    border: 1px solid #65b740;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 0.48rem;
    z-index: 9999;
    padding-bottom: 0.24rem;
    font-size: 20px;
    color:#fff;
    font-weight:900;
}
.coupon_content .ok strong{
	font-size: 28px;
}
.coupon_content .ok .close{
	color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.1em 0.2em;
    width: 2rem;
    height: 0.8rem;
    margin: 0 auto;
    line-height: 0.8rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
.coupon_content .loadTips{
	display: none;
    width: 100%;
    text-align: center;
    padding-top: 50%;
    position: absolute;
    z-index: 2;
    font-size: 1.3em;
}
.coupon_content .cover{
	height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(255,255,255, 0.9);
    z-index: 1;
}
.coupon_content .top-c{
	height: 1rem;
    /*width: 100%;*/
    line-height: 1rem;
    color:#000;
    padding:0 10px;
}
.coupon_content .top-c .welcome{
	margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 0.38rem;
     border-bottom: 1px solid #f0f0f0;
}
.coupon_content .top-c .welcome strong{
	color: #df2739;
    margin-left: 0.3em;
    border-bottom: 1px dotted #c52433;
    font-weight:bold;
    font-size: 0.45rem
}
.coupon_content .coupon_price{
	margin-left: 0.4rem;
    margin-right: 0.4rem;
	color:#000;
	border-bottom:1px solid #000;
}
.coupon_content .coupon_price div:nth-child(1){
    padding-left: 0.4rem;
    font-size: 0.3rem;
    padding-top: 0.2rem;
}
.coupon_content .coupon_price #couponValueZone{
	font-size: 1rem;
    /*font-weight: bold;*/
    /*padding-top: 0.4rem;*/
}
.coupon_content .coupon_price #coupon_p{
    padding-left: 0;
}
.coupon_content .coupon_price .coupon_bold{
	font-size: 0.4rem;
	/*font-weight:bolder;*/
}
.coupon_content .data {
    border-bottom: 1px dashed #000;
    text-align: left;
    clear: both;
    zoom: 1;
    overflow: hidden;
    padding-bottom: 0.4em;
}
.coupon_content .data div:nth-child(1){
	margin-top: 0.3rem;
}
.coupon_content .data div{
	line-height: 0.5rem;
	margin-left: 0.4rem;
    margin-right: 0.4rem;
}
.coupon_content .ticket-c{
	height: 1.2rem;
    width: 100%;
    background: #dfdfdf;
    border-top: 1px dashed #fff;
    text-align: center;

}
#barcode{
    width:100%;
    display: inline-block;
    background: #dfdfdf;
    margin-top:0.15rem;
}
#barcode div{
	background: #dfdfdf;
}
.coupon_content  .clickObtain{
	height: 1rem;
    width: 100%;
    background: none;
    margin-top: 0.2rem;
    line-height: 1rem;
}
.coupon_content  .clickObtain .get{
	background-color: #c52433;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#df2739), to(#c52433));*/
    background-image: -webkit-linear-gradient(top, #df2739, #c52433);
    background-image: -moz-linear-gradient(top, #df2739, #c52433);
    background-image: -o-linear-gradient(top, #df2739, #c52433);
    background-image: -ms-linear-gradient(top, #df2739, #c52433);
    background-image: linear-gradient(top, #df2739, #c52433);
    font-size: 1.684em;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.coupon_content .formInput{
	height: auto;
    width: 100%;
    background: none;
    margin-top: 0.2rem;
    /*line-height: 1rem;*/
}
.coupon_content .form {
    background-color: #fff;
    text-align: left;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 4px #afafaf;
    -moz-box-shadow: inset 0px 0px 4px #afafaf;
    box-shadow: inset 0px 0px 4px #afafaf;
    color: #333;
    outline: none;
    border: 1px solid #999;
    text-shadow: none;
    font-size: 1.5em;
    padding-right: 19%;
    padding-left: 4%;
    height: 1rem;
    width: 76%;
}


/*详情页的轮播图*/
.detal_content{
	background: #fbfbfb;
	height:100%;
	width:100%;
}

.swiper-two{
	background: #eee;
}
.swiper-two .swiper-slide{
	width:100%;
	text-align: center;
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  	height:auto;
	width:100%;
}
.swiper-two .swiper-slide img{
	height:280px;
}
.shopInformation{
	background: #fff;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding:15px;
    font-size: 16px;
    
}
.shopInformation a{
	color:#000;
}
.shopInformation p{
	line-height: 26px;
	margin-bottom: 0.5em;
	padding:0 10px;
}
.shopInformation p:nth-child(2) a{
	color:#FE6030!important;
	font-size: 22px;
}
.shopInformation p:nth-child(2) i{
	font-size: 26px;
}
.shopInformation p:nth-child(3) a{
	color:#666;
	font-size: 16px;
	font-weight:normal;
}
.shopInformation .reason{
	position: relative;
    min-height: 24px;
    height: 100%;
    z-index: 2;
    border:1px solid #e6e6e6;
    margin: 10px 0;
    padding: 10px ;
}
.shopInformation .reason span{
	position: absolute;
    bottom: -24px;
    width: 20px;
    height: 24px;
    display: block;
    background: #fff url('../img/bubble-tail.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.shopInformation .bg-white{
	width:40px;
	position: relative;
	background: #fff;
}
.shopInformation .bg-quote{
	width: 36px;
    height:36px;
    display: block;
    background: url('../img/quote.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.shopInformation .excuse{
	font-size: 16px;
    margin-top:10px;
    color:#bbb;
    font-weight: 200;
} 

.format-standard{
    background: #fff;
    /*margin: 20px 15px 20px;*/
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-top:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding:10px;
}
.format-standard dl{
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    /*border: 1px solid #e6e6e6;*/
    font-size: 12px;
    float: none;
}
.format-standard dt{
    width: 60px;
    height: 60px;
    margin: 0;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border:1px solid #ccc;

}
.format-standard .avater{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 3px solid #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.format-standard .avater img{
    width:100%;
}
.format-standard dd{
    font-size: 16px;
    font-weight: normal;
    width: calc(100% - 90px);
    margin-right: 0;
}
.format-standard dd p{
    line-height: 30px;
}
.format-standard dd p:nth-child(1) a{
    color:#FE6030;
    font-size: 14px;
}
.format-standard dd p:nth-child(2){
    color:#ccc;
    font-size: 16px;
}
/*tab切换*/
.detal_content{
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    min-height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
}
.detal_content .gArtical{
    width:100%;
    height:100%;
    overflow-y:scroll; 
}
.detailContent ul{
    overflow: hidden;
    margin:0;
    padding:0;
    width:100%;
}
.detailContent .navlist li{
    float: left;
    width:50%;
    text-align: center;
    line-height: 50px;
    color:#656565;
    font-size: 16px;
    position: relative;
}
.detailContent ul li a{
    color:#656565;
}
.border:after{
    border-bottom: 3px solid #ec6941;
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    height: 3px;
    width: 50%;
    left:25%;
}
.tabContent{
    position: relative;
    overflow: hidden;
    height:100%;
    border-top:1px solid #e6e6e6;
}
.tabContent .tabBody .imgAdapt{
    text-align: center;
    margin-bottom: 5px;
}
.tabContent .pic-info{
    padding:15px;
    padding-bottom: 0;
    background: #fff;
}
.tabContent .pic-info img{
    max-width:100%;
}
.tabContent .tabBody{
    display: none;
}
.tabContent .tActive{
    display: block;
}
.comment{
    padding:15px;
}
.comment-review{
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #f4f4f4;
}
.evaluateNull{
    color: #b0b0b0;
    font-size: 16px;
    text-align: center;
}
.comment-replay{
    position: relative;
    width:100%;
    border:1px solid #e6e6e6;
    display: table;
    border-collapse: separate;
}
.comment-replay input{
    float: left;
    border: 0;
    border-right: 1px solid #e6e6e6;
    position: relative;
    z-index: 2;
    color:#666;
    padding:10px;
    background: #fff;
    box-sizing: border-box;
    font-size: 18px;
    width:65%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom:5px;
}
.comment-replay a{
    float: left;
    width:18%;
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 5px  0;
    text-align: center;
    display: inline-block;
    /*padding: 13px 32px;*/
    border: none;
    background: #FE6030;
    color: #fff;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    color: #FE6030;
    border-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    padding: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    cursor:pointer;
}

    /*详情页的尾部*/
.detal_footer li{
	height:50px;
	line-height: 50px
}
.detal_footer li a{
	color:#6b6b6b;
	font-size: 12px;
	
}
.detal_footer li span{
	font-weight:normal;
	margin-top: 10px;
}
.detal_footer li a .iconfont{
	font-size: 20px;
    margin-top:5px;
}
.detal_footer .change{
    text-align: center;
    line-height: 60px;
}
.detal_footer .change a{
	color:#fff;
}
.detal_footer .change span{
    margin-top: 0px;
}
.detal_footer .addCar{
	background-color: #ff8b69;
    border-color: #ff8b69;
}
.detal_footer .nowBuy{
	background-color: #FE6030;
    border-color: #FE6030;
}
.detal_footer .active{
    color:#FE6030;
    background-color: #fff;
}

/*点击详情页中的加入购物车出现的商品信息*/
.detailBg{
    background: #000;
    filter: alpha(opacity=75);
     opacity: .75; 
}
.GoodsSku{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    padding-bottom:15px!important;
    overflow: hidden;
    background-color: #fff;
    font-size: 12px;
    z-index:100;
}
.GoodsSku dl{
    position: relative;
    overflow: hidden;
    margin: 0;
    font-size: 12px;
}
.GoodsSku dt{
    width:90px;
    margin:15px;
    height:100px;
}
.GoodsSku dt img{
    margin-left:-5px;
    width:100px;
    height:100px;
}
.GoodsSku dd{
    width: calc(100% - 135px);
    height:100%;
}
.GoodsSku dd h6{
    min-height: 36px;
    font-weight: 600;
    margin:15px 0 5px 0;
    font-size: 14px;
}
.GoodsSku dd p{
    margin:10px 0; 
     color: #FE6030!important;
}
.GoodsSku dd p span{
    font-size: 16px!important;
}
.GoodsSku .b-price{
    border-top:1px solid #e6e6e6;
    margin-left:15px;
    padding-left: 15px;
}
.GoodsSku .pull-left{
    float:left;
    height:100%;
}
.GoodsSku .freigt{
    padding:10px 0;
    display: inline-block;
}
.GoodsSku .freigt span{
    color:#fe6030;
}
.GoodsSku .GoodsSkuTitle{
    margin:10px 0;
    font-size: 14px;
    color:#333;
    font-weight: 300;
    line-height: 14px;
}
.GoodsSku .quantity{
    padding:15px 0 15px 15px;
}
.GoodsSku .quantity .pull-left{
    padding-top:5px;
}
.GoodsSku .quantity  .input-group-addon {
    -webkit-appearance: none;
    display: table-cell;
    padding: 0;
}
.GoodsSku .quantity  .input-group-addon  input{
    font-size: 14px!important;
    line-height: 24px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    margin: 0 15px;
    border-radius: 5px;
    border: 1px solid  #FE6030;
    color: #FE6030!important;
    background-color: #fff;
}
.GoodsSku .quantity .no-border{
    border:none;
    width:30px;
    padding:7px 3px;
    text-align: center;
}

.GoodsSku .googs_coupon div{
     padding: 15px 0;
}
.GoodsSku .payment{
    padding:15px 0 0 15px;
}
.GoodsSku .payment .buyBtn a{
    padding:5px 15px;
    margin:5px 5px 5px 0;
    background: #fe6030;
    color:#fff;
    font-weight: 400;
    text-align: center;
    display: inline-block;
}
/*顾客未登录 出现登录信息*/
.phoneNum{
    position: fixed;
    z-index: 104; 
    top: 25%; 
    left: 5%;
    min-height:270px;
    background: #fff;
    width:90%;
    margin:0 auto;
}
.phoneNum h6{
    border-bottom:1px solid #e6e6e6;
    padding-bottom:15px!important;
    margin:10px 0 5px 0;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

}
.phoneNum #login-form{
    margin-top:0;
}
#simLogUser div.full-width{
    width: auto;
    padding:15px;
}
#simLogUser div.full-width p{
    margin:10px 0;
}
#simLogUser div.full-width p input{
    box-shadow: none;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    margin: 3px 0 0;
    padding: 10px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    color: #6b6b6b;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    width:100%;
    line-height: 14px;
}
#UserLoginButton{
    background: #d2d2d2;
}
#VerificationButton{
    margin-left: 12px;
}
.phoneNum .Verification{
    width:50%;
}
#simLogUser  a{
    background-color: #f5f5f9;
    color: #b4b4b4;
    border: 1px solid #e6e6e6;
    padding:8px 15px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 400;
    text-align: center;
    margn:3px 5px 5px 0;
    text-align: center;
    display: inline-block;
}
#UserLoginButton{
    border-radius: 3px;
    background: #d2d2d2;
    width:100%;
    box-sizing: border-box;
    cursor: default;
    padding:13px 32px;
    color:#fff;
    margin:5px 5px 5px 0;
    border:none;
}
/*商品分类*/
.search_content{
    margin-bottom: 0;
}
.search_content{
    position: relative;

}
.search_content .searchCriteria{

    overflow: hidden;
    position: relative;
    background: #fbfbfb;
    padding: 0.2rem !important;
}   
.search_content .searchCriteria div{
    background: #fff;
    border: 1px solid #efefef;
    position:relative;
    display: table;
    width:100%;
}
.search_content .searchCriteria input{
    margin:0;
    border:0;
    background-color:#fff;
    width:70%;
    padding:0.15rem;
    color: #6b6b6b 
}
.search_content .searchCriteria span{
    width:17%;
    font-size: 14px;
    border-left: 1px solid #efefef;
    text-align: center;
    padding:0.15rem;
    color:#FE6030;
}
.search_content  .sort{
    margin:0.15rem;
}
.search_content  .sort a{
    padding:0.15rem 0.20rem;
    font-size: 14px;
    color:#6b6b6b;
    border:1px solid #e6e6e6;
    margin:0.3rem 0.3rem 0 0;
}
/*商品列表页*/
.total_content{
    background:#fbfbfb; 
}

.total_content .header_content .Classification{
    width:66px;
    position: absolute;
    right:0;
    top:0;
    height:42px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
}
/*购物车*/
.total_content{
    margin-bottom:0;
}
/*购物车内部*/
.carContent{
    background: #fff;
}
.car_goods{
    background: #fff;
    padding:0;
    overflow: hidden;
    /*position: absolute;*/
}
.car_goods .saleCartItem{
    z-index:2;
    position: relative;
}
.car_goods .saleCartItem .item{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 15px;
    background-color: #fff;
    position: relative;
}
.car_goods input{
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    border: 1px solid #333;
    width: 15px;
    height: 15px;
    outline: none
}
.car_goods input[type="checkbox"]:checked {
    background-color: #FE6030;
    border-color: #FE6030;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    border: none;
    width: 15px;
    height: 15px;
}
.car_goods .each-select{
    position: absolute;
    top:0;
    left:15px;
    bottom: 0;
    margin:auto;
}
.car_goods .item dl{
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    /*border: 1px solid #e6e6e6;*/
    font-size: 12px;
    float: none;
    margin-left: 45px;
    width:100%;
}
.car_goods .item dt{
    margin-top: 1em;
    width: 60px;
    height: 60px;
    margin:6px;
    position: relative;
    overflow: hidden;
}
.car_goods .item dt img{
    width:100%;
}
.car_goods .item dd{
    width: calc(100% - 140px);
    padding-left:10px!important;
}
.car_goods .item dd p:nth-child(1){
    color:#000;
    font-size: 16px;
    font-weight: 600;
    margin-top:10px;
}
.car_goods .item dd p:nth-child(2){
    height:20px;
}
.car_goods .item dd p:nth-child(3) span{
    color:#FE6030;
    font-weight: 400;
    font-size: 14px;
}
.car_goods .item dd p:nth-child(3) a{
    color:#FE6030;
    font-size:14px;
    font-weight: 400;
}
.car_goods .item dd p:nth-child(3) .iconfont{
    color:#333;
    margin-top:3px;
}






/*购物车尾部*/
.cart_footer{
    font-size: 14px;
}
.chioce_content{
    margin-left:3px;
    width:67%;
    border-top:1px solid #ebebeb;
}
.selectInput{
    width:32%;
}
.seclectChioce{
    height:53px;
    line-height: 53px;
    margin-left:15px;
}
.seclectChioce input{
    margin-top:18px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    border: 1px solid #333;
    width: 15px;
    height: 15px;
    margin-right:5px;
    float:left;
    outline: none;
}
.seclectChioce input[type="checkbox"]:checked {
    background-color: #FE6030;
    border-color: #FE6030;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    border: none;
    width: 15px;
    height: 15px;
}
.chioce_content .total_content{
    margin-top:17px!important;
    font-size: 14px;
    line-height: 14px;
}
.chioce_content .total_content strong{
    color:#e57871!important;
    font-size: 16px;
    line-height: 16px;
}
.cart_footer .settlement{
    width:32%;

}
.cart_footer .settlement a{
    color:#fff;
    height:53px;
    line-height: 53px;
    font-size:18px;
    background: #FE6030;
    display:block;
    text-align: center;
}
/*挑选多少件*/
.carBg{
    background: rgba(0,0,0,.75);
    height:100%;
    width:100%;
    position: fixed;
    left:0;
    top:0;
    z-index:100;
}
.selectNum{
    position: absolute;
    left:0;
    bottom: 0;
    z-index:103;
    font-size: 12px;
    background: #fff;
    width:100%;
    height:auto;
    overflow: hidden;
}
.selectNum .select-top{
    width:100%;
    padding-top:15px!important;
}
.selectNum .select-top div:nth-child(1){
    padding-left: 10px;
}
.selectNum .select-top div:nth-child(2) {
    display: table;
    position: relative;
    margin-right:15px!important; 
}
.selectNum .select-top div:nth-child(2) a{
    border:1px solid #eaeaea;
    padding:8px 20px;
    color:#6b6b6b;
    font-size: 14px
}
.selectNum .select-top div:nth-child(2) .goodsNum{
    color:#333;
}
.selectNum .numBtn{
    width:100%;
    height:auto;
    margin-top: 15px!important;
    text-align: center;
}
.selectNum .numBtn a{
    color:#fff;
    background: #434343;
    /*width:100%;*/
    display: block;
    padding:15px!important;
    font-size: 18px;
    line-height: 18px;
}
/*空的购物车*/
.blog-single{
    display: none;
}
.blog-single article{
    background: #fff;
    padding:0;
    overflow: hidden;
    position: relative;    
}
.wrapped-content{
    padding: 25px 25px;
    z-index: 2;
    position: relative;
    text-align: center;
    width:100%;
}
.wrapped-content img{
    width:120px;
    height:auto;
    margin-top: 60px!important;
    display: block;
    margin:0 auto;
}
.wrapped-content p{
    font-size: 14px;
    line-height: 14px;
}
.wrapped-content .noCost{
    margin-top:30px!important;
    margin-bottom: 10px
}
.wrapped-content .lookfor{
    margin-bottom: 10px;
}
/*我的账户*/
.account{
    font-size: 14px;
    color:#6b6b6b!important;
}
.account-top{
    background: #fbfbfb url('../img/StoreBanner.png') no-repeat;
    background-size: cover;
    height:120px; 
    width:100%;
    /*margin-bottom:20px;*/
    border-bottom: 1px solid #e6e6e6;
}
.account-top-content{
    text-align: center;
}
.account-top-content div{
    width:60px;
    height: 60px;
    /*margin-top: 60px;*/
    position: absolute;
    top:60px;
    left:0;
    margin: auto;
    right:0;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    border:3px solid #fff;
    border-radius: 10px;

}
.account-top-content div img{
    width:100%;
}
.account-top-content div a{
    color:#fff;
    display: block;
    font-size: 14px;
    margin-top: 8px;
}
.title-bar{
    height:20px;
    width:100%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    z-index:3;
}
.account-bottom div{
    padding:0 15px;
}
.account-bottom div li{
    border-bottom:1px solid #e6e6e6;
}
.account-bottom a{
     font-size: 14px;
    color:#6b6b6b!important;
    padding:15px 0!important;
    display: block;
}
.account-bottom i{
    float:right;
}
.account-bottom span{
    color: #fff;
    padding: 4px;
    background-color: #FE6030;
    margin-left: 10px;
    min-width: 10px;
    line-height: 10px;
    display: inline-block;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}
/*门店订单*/
.car_content{
     background: #f6f6f6;
     /*padding-top:15px;*/
}
.nullGoods{
    /*display: block;*/
    background: #f6f6f6
}
.enterShop{
    text-align: center;
    background: #fff;
}
.enterShop a{
    border-radius: 3px;
    padding: 15px 30px;
    color:#fff;
    background:#FE6030;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    margin:5px 5px 5px 0;
    font-size:16px;
    line-height: 16px;
}
.loadMore{
    background: #fff;
    margin: 0 15px 20px 15px;
    padding: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.loadMore a{
    float:left;
    color:#FE6030;
    width:99.8%;
    border:1px solid #e6e6e6;
    font-size: 14px;
    padding: 15px 0;
    z-index: 2;
    position: relative;
    display: inline-block;
}
.c_content{
    padding-top:0;
    padding-bottom:10px;
}
.blog{
    display: none;
}
.coupon .closeData p{
    margin-top: 0;
    line-height: 28px;
}
.w_content{
    padding-bottom: 0;
    padding-top:0;
}
/*我喜欢的*/
.blog-content{
    padding-top:15px;
}
.car_goods{
    background: #f6f6f6;
}
.favorite .saleCartItem{
    padding:0 20px;
    
}
.favorite .saleCartItem .item{
    border:1px solid #e6e6e6;
}
.favorite .saleCartItem .item dl{
    margin-left:0;
}
.favorite .saleCartItem .item dt{
    width: 100px;
    height: 100px;
    margin: 5px;
}
.favorite .saleCartItem .item dd{
    width: -moz-calc(100% - 135px);
    width: -webkit-calc(100% - 135px);
    width: -o-calc(100% - 135px);
    width: calc(100% - 135px);
    height: 100%;
}
.favorite .saleCartItem .item dd p{
    font-size: 12px;
    color:#6b6b6b;
    font-weight: normal;
}
.favorite .saleCartItem .item dd p:nth-child(2){
    border-bottom: 1px solid #e6e6e6;
    margin:10px 0;
    padding:10px 0;
    color:#FE6030!important;
    font-size: 14px;
}
.favorite .saleCartItem .item dd p:nth-child(2) i{
    font-size: 16px
}
.favorite .saleCartItem .item dd p:nth-child(3){
    margin-bottom:5px;
}
.favorite .saleCartItem .item dd p:nth-child(3) a{
    font-size: 12px;
    
}
.favorite .saleCartItem .item dd  .cancel{
    padding:5px 6px;
    border-radius: 3px;
    border:1px solid #eaeaea;
    color:#b7b7b7;
    margin-right:5px;
}
.favorite .saleCartItem .item dd  .nowBuy{
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    display: inline-block;
    border: none;
    background: #FE6030;
    color: #fff;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 10px;
    padding:5px 6px;
}

/*顾客未登录 我的页面*/
.customerLogin{
    background: #fff;
    overflow: hidden;
    position: relative;
}
.customerLogin section{
    width:100%;
    z-index: 2;
    position: relative;
    background: #fff;
}
.customerLogin .login-avatar-area{
    width:60px;
    height:60px;
    margin:0 auto;
    overflow: hidden;
    margin-bottom:10px;
    line-height: 60px;
}
.customerLogin .login-avatar-area img{
    width:100%;
    height:auto;
    margin-top: 0!important;
}
.customerLogin .shop-name{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    color:#666;
    font-weight: 300;
    line-height: 14px;
}
#login-form{
    margin-top: 30px;
    width:100%;
}
#login-form p:first-child{
    margin-top: 0;
    margin:10px 0;
    line-height: 20px;
}
#login-form input{
    width:100%;
    box-shadow: none;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    margin: 3px 0 0;
    padding: 10px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fff;
    color: #6b6b6b;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    font-weight: 400;
}
#login-form .inputCode{
    width:58%;
}
#login-form .inputCode input{
    width:100%;
    float:left;
}
#login-form .code{
    width:41%;
}
#login-form .code div{
    margin-left:15px;
}
#login-form .code a{
    width:100%;
    display: block;
    padding: 7px 0;
    line-height: 20px;
    width: 100%;
    background-color: #f5f5f9;
    color: #b4b4b4;
    border: 1px solid #e6e6e6;
    font-size:14px;
    border-radius: 3px;
    margin:3px 0 5px;
}
#login-form p:last-child{
    margin:10px 0;
}
#login-form p:last-child input{
    background-color: #ffeee9;
    color: #D2D2D2;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

/*消费记录*/

.paymentContent{
    position: relative;   
}
.paymentContent .paymentItem{
    marign:0;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.paymentContent .wrapped-content {
    z-index: 2;
    position: relative;
}
.consume-history .each-records {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 15px;
    background-color: #fff;
}
.consume-history{
    padding:0;
}
.consume-history .each-records .record-time {
    margin: 0;
    padding: 12px 15px;
    color: #b0b0b0;
}
.consume-history .record-time .time{
    float: left;
    margin-top: 5px;
}
.consume-history .each-records .record-time span{
    border-radius: 3px;
    padding:4px 20px;
    font-size: 10px;
    color:#fe6030;
    text-align: center;
    border:1px solid #fe6030;
}
.consume-history .each-records dl{
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    border: 1px solid #e6e6e6;
    font-size: 12px;
    float: none;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-left:15px!important;
}
.consume-history .entity .imgAdapt {
    margin:0.1rem 5px 5px 5px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.consume-history .entity .imgAdapt img{
    width:100%;
    margin-top: 0!important; 
}
.consume-history .entity dd{
    width: calc(100% - 100px);
    height:100%;
    margin-top: 10px
}
.consume-history .goodsInfor div:nth-child(1){
    width:75%;
}
.consume-history .goodsInfor div:nth-child(1) h6{
    font-weight: 600;
    color:#333;
    font-size: 14px;
    line-height: 14px;
}
.consume-history .goodsInfor div:nth-child(2){
    width:25%;
}
.consume-history .goodsInfor div:nth-child(2) h6{
    color:#6b6b6b!important;
    font-weight: 600;
    text-align: right;
}
.consume-history .goodsInfor div:nth-child(2) span{
    font-size: 16px;
}
.consume-history .goodsInfor div:nth-child(2) p{
    text-align: right;
}
.consume-history .mark-text{
    margin:5px 5px 0.1rem 0;
    font-size: 12px;
}
.consume-history .each-records ul{
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    margin-left: 15px;
    padding-right: 15px;
}
.consume-history .each-records ul li {
    text-align: right;
    border-top: 1px solid #e6e6e6;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
}
/*立即付款*/
#RePayQrCode{
    position: fixed; 
    z-index: 104; 
    top: 0px;
    margin: auto!important;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 263px;
}
#RePayQrCode .bg-white{
    background: #fff;
}
#RePayQrCode .bg-white p{
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    padding:15px!important;
    font-size: 10px;
}
#RePayQrCode .bg-white .text-center{
    height:180px;
}
#RePayQrCode .bg-white  #qrcode{
    margin:10px;
}
#RePayQrCode .bg-white .text-center canvas{
    width:180px;
    height:180px;
}
#RePayQrCode .bg-white  .boderNone{
    border-bottom: none;
}
#RePayQrCode a{
        color: #FE6030;
        font-size: 12px;
        position: absolute;
        left:20px;
}