input{
	border: 0;
}
header{
	height: 45px;
	background-color: pink;
	line-height: 45px;
	border-bottom: 1px solid #E0E0E0;
	box-sizing: border-box;
}
header div{
	height: 100%;
}
#banner{
	overflow: hidden;
}
