<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src='js/angular.min.js'></script>
		<script>
		//双向绑定
			var myApp = angular.module('myApp',[]);
			myApp.controller('myCtrl',['$scope',function($scope){
				$scope.name='maomao';
				$scope.age = '18';
			}])
		</script>
	</head>
	<body>
		<div ng-controller='myCtrl'>
			<input type="text" ng-model='name'/>
			<input type="text" ng-model='age'/>
			<hr />
			你好！我是{{name}}年龄：{{age}}
		</div>
	</body>
</html>
