html,body,div,p,h1,h2,h3,h4,h5,h6,dd,dt,dl,ul,li,ol,form,input,button,img{
	margin:0;
	padding:0;
}
body,html{
	width:100%;
	height:100%;
}
html{
	font-size: 31.25vw;
}
#music-off{
    position: absolute;
    right: 15px;
    top: 20px;
    z-index:200;
    width: 0.3rem;
    height: 0.3rem;
    animation-name: play;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: url(../img/music2.png) no-repeat;
    background-size: 100%;
}
.control{
	width:5rem;
	height:5rem;
	background: url(../img/music.gif) no-repeat center center;
	background-size:100%;
	position: absolute;
	right:0;
	top:15px;
	z-index: 20;
}
@keyframes play {
    from{
      transform:rotate(0deg); 
    }
    to{
      transform:rotate(360deg); 
    }
}

.swiper-container{
	width:100%;
	height:100%;
	background:url('../img/1.jpg') no-repeat;
	background-size: 100% 100%;
}
.swiper-wrapper{
	width:100%;
	height:100%;
}
.swiper-slide{
	width:100%;
	height:100%;
}
.page-one div:nth-child(1){
	width: 0.25rem;
    height: 1.5rem;
    position:absolute;
    right:0.75rem;
    top:0.05rem;
}
.page-one div:nth-child(1) img{
	width: 100%;
    /*height: 150px;*/
    display: block;
    position: absolute;
    right: 0;
     top: 0;
}
.page-one div:nth-child(2){
	width: 1.8rem;
    height: 0.15rem;
    position: absolute;
    left: 0.7rem;
    top: 1.50rem;
  }
.page-one div:nth-child(2) img{
	width: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}
.page-one div:nth-child(3){
	width:1.2rem;
    height: 100%;
  	position:absolute;
  	right:-0.2rem;
  	top:0;
  	overflow: hidden;
  	
}
.page-one div:nth-child(3) img{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    height:100%;
}
.page-one div:nth-child(4){
	width:1.2rem;
    height: 70%;
  	position:absolute;
  	right:-0.2rem;
  	top:30%;
  	overflow: hidden;
}
.page-one div:nth-child(4) img{
    display: block;
    position: absolute;
    height:100%;
    right: 0px;
    top: 0px;
}
.page-one div:nth-child(5){
	width: 0.25rem;
    height: 2rem;
    position:absolute;
    left:0.57rem;
    top:59.5%;
}
.page-one div:nth-child(5) img{
	height: 100%;
    /*height: 150px;*/
    display: block;
    position: absolute;
    right: 0;
     top: 0;
}
.page-one div:nth-child(6){
	width: 1.7rem;
    height: 0.15rem;
    position: absolute;
    left: 0.6rem;
    top: 60%;
  }
.page-one div:nth-child(6) img{
	width: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}
.page-one div:nth-child(7){
	width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 0.8rem;
    top: 35%;
   
  }
.page-one div:nth-child(7) img{
	width: 100%;
	height:100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 100%;
}
.page-one div:nth-child(8){
	width: 1.2rem;
	text-align: center;
	height:0.5rem;
    position: absolute;
    left: 0.9rem;
    top: 70%;
    font-size:0.20rem;
    color:#fff;
}
.page-one div:nth-child(9){
	width: 1.2rem;
	text-align: center;
	height:0.5rem;
    position: absolute;
    left: 0.9rem;
    top: 80%;
    font-size:0.20rem;
    color:#fff;
}
@keyframes move{
	from{}
	to{
		top:90%;
	}

}
.img{
	width:60px;
	position: absolute;
	left:50%;
	top:92%;
	margin-left:-30px;
	animation: move 1s;
	animation-iteration-count: infinite;
}
.img img{
	position: absolute;
	left:0;
	top:0;
}
.page-two div:nth-child(1){
	position: absolute;
	left:-5%;
	top:4%;
	font-size:0.2rem;
	width:3rem;
	height:0.6rem;
}
.page-two div:nth-child(1) img{
	width:100%;
	position: absolute;
	left:0;
	top:0;
}
.page-two div:nth-child(1) .about{
	width:2rem;
	left:0.4rem;
}
.page-two div:nth-child(2){
	position: absolute;
	right: -0.1rem;
	top:20%;
	font-size:0.2rem;
	width:2.2rem;
	height:0.1rem;
}
.page-two div:nth-child(2) img{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.page-two div:nth-child(3){
	position: absolute;
	left: 0.1rem;
	top:25%;
	font-size:0.16rem;
	width:2.2rem;
	color:#fff;
}
.page-two div:nth-child(3) img{
	position: absolute;
	left: 0.2rem;
	top:0;
	width:0.3rem;
}
.page-two div:nth-child(3)  div{
	position:absolute;
	left:0.6rem;
	top:0;
	font-size: 0.16rem;
}
.page-two div:nth-child(3) p{
	line-height: 0.2rem;
}
.page-two div:nth-child(4){
	position:absolute;
	left:-0.1rem;
	top:38%;
	font-size: 0.16rem;
	width:2.2rem;
	height:0.1rem;
}
.page-two div:nth-child(4) img{
	position:absolute;
	left:0;
	top:0;
	width:100%;
}

.page-two div:nth-child(5){
	position: absolute;
	left: 0.1rem;
	top:45%;
	font-size:0.16rem;
	width:2.2rem;
	color:#fff;
}
.page-two div:nth-child(5) .first{
	position: absolute;
	left: 0.2rem;
	top:0;
	width:0.3rem;
	height:0.8rem;
}
.page-two div:nth-child(5) .first img{
	position:absolute;
	left:0;
	top:0;
}
.page-two div:nth-child(5) .first .second{
	top:50%;
}
.page-two div:nth-child(5)  .two{
	position:absolute;
	left:0.6rem;
	top:0;
	font-size: 0.16rem;
}
.page-two div:nth-child(5)  .two p{
	line-height: 0.2rem;
}
.page-two div:nth-child(6){
	position: absolute;
	right: -0.1rem;
	top:66%;
	font-size:0.2rem;
	width:2.2rem;
	height:0.1rem;
}
.page-two div:nth-child(6) img{
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
.page-two div:nth-child(7){
	position: absolute;
	left: 0.1rem;
	top:70%;
	font-size:0.16rem;
	width:2.2rem;
	color:#fff;
}
.page-two div:nth-child(7) .first{
	position: absolute;
	left: 0.2rem;
	top:0;
	width:0.3rem;
	height:0.8rem;
}
.page-two div:nth-child(7) .first img{
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.page-two div:nth-child(7) .first .second{
	top:50%;
}
.page-two div:nth-child(7)  .two{
	position:absolute;
	left:0.65rem;
	top:0;
	font-size: 0.16rem;
}
.page-two div:nth-child(7) .two p{
	line-height: 0.2rem;
	margin-top: 0.05rem;;
}
.page-three div:nth-child(1){
	position: absolute;
	top:0;
	left:0;
	height:70%;
}
.page-three div:nth-child(1) img{
	position: absolute;
	left:0;
	top:0;
	height:100%;
}
.page-three div:nth-child(1) img:nth-child(1){
	height:80%;
	top:2%;
	z-index: 5;
	left:0.2rem;
}
.page-three div:nth-child(2){
	position: absolute;
	top:39%;
	left:21%;
	height:2.5rem;
	width:0.2rem;
}
.page-three div:nth-child(2) img{
	position: absolute;
	left:0;
	top:0;
	height:100%;
}
.page-three div:nth-child(3){
	position: absolute;
	top:40%;
	left:26%;
	height:0.2rem;
	width:2.5rem;
}
.page-three div:nth-child(3) img{
	position: absolute;
	left:0;
	top:0;
	height:100%;
}
.page-three div:nth-child(4){
	position: absolute;
	top:45%;
	left:31%;
	width:2rem;
	height:2.3rem;
	overflow: hidden;
}
.page-three div:nth-child(4) img{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.page-five div:nth-child(1){
	position: absolute;
	right:-10%;
	top:10%;
	width:85%;
}
.page-five div:nth-child(1) img{
	position: absolute;
	right:0;
	top:0;
	width:100%;
}
.page-five div:nth-child(2){
	position: absolute;
	right:-10%;
	top:15%;
	width:85%;
	font-size: 0.26rem;
	color:#fff;
}
.page-five div:nth-child(3){
	position: absolute;
	left:0;
	top:20%;
	width:85%;
}
.page-five div:nth-child(3) img{
	position: absolute;
	right:0;
	top:0;
	width:100%;
}
.page-five div:nth-child(4){
	position: absolute;
	left:20%;
	top:28%;
	width:85%;
	font-size: 0.24rem;
	color:#fff;
}
.page-five div:nth-child(5){
	position: absolute;
	right:25%;
	top:36%;
	font-size: 0.24rem;
	color:#fff;
}
.page-five div:nth-child(6){
	position: absolute;
	left:20%;
	top:45%;
	width:60%;
	font-size: 0.24rem;
	color:#fff;
}
.page-five div:nth-child(6) img{
	position: absolute;
	left:0;
	top:0;
	width:100%;
}
.page-five div:nth-child(7){
	position: absolute;
	left:35%;
	bottom:14%;
	width:60%;
	font-size: 0.20rem;
	color:#fff;
}

.page-six div:nth-child(1){
	width:100%;
	height:30%;
	display: flex;
	justify-content: center;
}
.page-six div:nth-child(1) div{
	text-align: center;
	font-size: 0.18rem;
	color:#fff;
	align-self: flex-end;
}
.page-six div:nth-child(2){
	width:100%;
	height:30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes scale{
	from{}
	to{
		width:100%;
		height:100%;
	}
}
.page-six div:nth-child(2) .total{
	width:45%;
	height:80%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
.page-six div:nth-child(2) .circle{
	height:80%;
	width:80%;
	border-radius: 100%;
	background: rgba(255,255,255,.6);
	float: left;
	animation: scale 1s;
	animation-iteration-count: infinite;
	transform-origin: 50%;
}
.page-six div:nth-child(2) .lianxi{
	height:80%;
	width:80%;
	border-radius: 100%;
	background: rgba(0,0,0,.4);
	font-size: 0.16rem;
	color:#fff;
	float: left;
	position: absolute;
	top:0.05rem
}
.page-six div:nth-child(3){
	width:100%;
	height:5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-six div:nth-child(3) div{
	width:80%;
	height:1px;
	background-color: #fff;
}
.page-six div:nth-child(4){
	width:100%;
	height:30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-six div:nth-child(4) p{
	font-size: 0.16rem;
	color:#fff;
}

.slide-page7 {
  position: relative;
}
.slide-page7 .page7-title {
  position: absolute;
  left: 0;
  top: 0.45rem;
  font-size: 0.44rem;
  font-weight: 900;
  width: 0.5rem;
  padding: 0.15rem 0.1rem;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fffeed), to(tan));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px dashed tan;
  border-left: none;
  border-radius: 10px;
}
.slide-page7 .page7-con {
  font-size: 0.2rem;
  color: #FFFEED;
  font-weight: 900;
  text-align: right;
  margin-right: 0.25rem;
  padding-top: 0.2rem;
}
.slide-page7 .page7-con li {
  margin: 0.1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.slide-page7 .page7-con li img {
  width: 0.65rem;
  height: auto;
  margin-left: 0.18rem;
}
.slide-page7 .page7-con li .page7-img1 {
  transform: rotate(-40deg);
}

